body{
    background-color: #FFFFFF
}
h1{
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    color: rbg(0,0,0,);
    font-family: "Times New Roman"
}
p{
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    color: blue 
}
ol{
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    color: #FF0000
}
ul{
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    color: #00FF00
}
